{# This file demonstrates using most of the index.twig template and modifying 
   just a small part. See `search.twig` for an example of another approach #}

{% extends "index.twig" %}

{% block content %}
	<section class="max-w-screen-lg mx-auto mt-8 px-4">
		<header class="mb-4">
			<h2 class="text-center text-4xl font-bold">{{title}}</h2>
			<p class="text-center text-lg font-semibold mt-3">This is my archive</p>
		</header>
		<div class="flex flex-wrap justify-center">
			{% for post in posts %}
				{% include "tease.twig" %}
			{% endfor %}
		</div>
	</section>
	{# {{ parent() }} #}
{% endblock %}
