{% include "menufooter.twig" with {'items': menuFooter.get_items} %}
<p class="text-center font-semibold mb-0">Copyright
	{{"now"|date('Y')}}
	{{site.name}}</p>


{# 
https://alexanderzeitler.com/articles/watch-tailwind-changes-update-browser-sync/ 
https://dev.to/salttechno/how-to-setup-tailwind-css-with-postcss-browsersync-1j4
https://bytearcher.com/articles/refresh-changes-browser-express-livereload-nodemon/
1#}
