{% if menuFooter %}
	<ul class="flex justify-center flex-wrap">
		{% for item in items %}
			<li class="{{ item.classes | join(' ') }}">
				<a target="{{ item.target }}" class="block py-1 px-4 text-blue-300" href="{{ item.link }}">{{ item.title }}</a>
				{% if item.children %}
					{# {% include "menu.twig" with {'items': item.children} %} #}
				{% endif %}
			</li>
		{% endfor %}
	</ul>
{% endif %}
