<section class="hero pt-20 md:pt-40 pb-20 md:pb-40" style="background-image: url('{{ theme.path }}/img/hero-blue.png')">
	<div class="relative">
		<div class="container">
			<div class="flex flex-wrap justify-center lg:justify-between">
				<div class="column md:w-7/12 lg:w-5/12 text-center lg:text-left mb-36 lg:mb-0">
					<h1 class="text-white mt-12 lg:mt-0">
						Imagine your
						<br>
						home smart enough
						<span>to take care</span>
						of itself.
					</h1>
					<p class="text-white text-lg md:text-xl font-light leading-tight mt-5 lg:mt-9">
						Turn your home into a smarthome today with a simple & affordable upgrade. Discover the upgrade that automates home maintenance.
					</p>
					<div class="flex justify-center lg:justify-start items-center mt-8 lg:mt-16">
						<a href="#!" class="btn-green">
							Get Started
						</a>
						<a href="#!" class="btn-transparent">
							Learn More
						</a>
					</div>

				</div>

				<div class="column lg:w-4/12 hidden lg:block">
					<img src="{{theme.path}}/img/img-hero-large.png" class="w-full rounded-3xl shadow-[0_15px_48px_rgba(0,0,0,0.16)]" alt="">
					<img src="{{theme.path}}/img/img-hero-small.png" class="absolute -bottom-28 right-0 rounded-3xl shadow-[0_15px_48px_rgba(0,0,0,0.16)]" alt="">
				</div>
			</div>
		</div>
	</section>
